#create-dim-sum-form-div {
    background-color: white;
    max-width: 38vw;
    margin: 1.5rem auto;
    padding: .75rem;
    overflow-y: scroll;
}

@media screen and (max-width: 767px) {
    #create-dim-sum-form-div {
        max-width: 225px !important;
    }
}