#create-dim-sum-form-div {
    background-color: white;
    max-width: 38vw;
    margin: 1.5rem auto;
    padding: .75rem;
    overflow-y: scroll;
}

.restaurant-submit-admin-form {
    width: 500px;
}

@media screen and (max-width: 767px) {
    .restaurant-submit-admin-form {
        width: 225px !important;
    }
}