#restaurants-div {
    margin: 0 auto;
    height: 75vh;
    width: 85vw;
    overflow-y: auto;
}

.col-row {
    justify-content: center;
}

.restaurant-card {
    border: .5rem solid red !important;
}

.card-img-top {
    height: 26vh;
    border-radius: 0 !important;
}

.restaurant-card-body {
    background-color: rgb(200, 255, 120);
}


/* ----- Media Queries ----- */

@media screen and (max-width: 767px) {
    #restaurants-div {
        height: 55vh;
        overflow-y: auto;
    }
}