#restaurants-div {
    margin: 0 auto;
    height: 75vh;
    width: 85vw;
    overflow-y: auto;
}

.restaurants-section-cards {
    background-color: #E50000;
    /* background-color: gold; */
    padding: 2rem;
    margin: 1.5rem;
    /* border: 6px solid red; */
    color: white;
    box-shadow: 10px 10px 8px #888888;
}

.col-row {
    justify-content: center;
}

.restaurant-image-div {
    justify-content: center;
    width: 85%;
    margin: 0 auto 2rem;
    text-align: center;
}

.restaurant-image {
    width: 15vw;
    height: 17vh;
}

/* ----- Media Queries ----- */