* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../../images/dimsum-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



