.restaurant-profile-image {
    max-width: 25vw;
    margin: 3rem;
}

.restaurant-profile-content-section {
    padding: 3rem;
    margin: 3rem;
    background-color: grey;
}

.restaurant-profile-reviews-section {
    background-color: white;
    padding: 3rem;
    margin: 3rem;
}

#restaurant-profile-div {
    height: 100vh;
    background-color: burlywood;
    background-image: url('../../images/dumpling_icon.png');
    background-size: 50px;
}

#restaurant-profile-div {
    width: 100vw;
}

.google-map-div {
    background-color: black;
    padding: 3rem;
    margin: 3rem;
}

/* .review-form-div {
    background-color: grey;
    padding: 3rem;
    margin: 3rem;
} */